.container {
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 32px;
  color: green;
}

.subtitle {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.subSubtitle {
  font-size: 16px;
  /* color: wheat; */
  color: #777;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 90px 10px; /* 30px vertical gap, 20px horizontal gap */
  justify-items: center;
  margin-top: 40px;
}

.card {
  /* background-color: #fff; */
  /* background-color: #cbf392; Lighter background color */
  /* background-color: #a6cc71; */
  background: darkgreen;
  border: 1px solid #ddd;
  padding: 30px; /* Increase padding for larger profiles */
  /* width: 450px; Make the profiles wider */
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05); /* Slight scale effect on hover */
}

.cardTitle {
  font-size: 24px; /* Larger font size */
  /* color: #333; */
  color: goldenrod;
}

.cardDescription {
  font-size: 16px; /* Adjusted font size for better readability */
  /* color: #777; */
  color: goldenrod;
  margin: 15px 0; /* Increased space between description and button */
}

.cardButton {
  background-color: green;
  color: goldenrod;
  border: none;
  padding: 12px 24px; /* Larger button for better appearance */
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cardButton:hover {
  background-color: darkgreen;
}
