/* Vote.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
  }
  
  .imageWrapper {
    position: relative;
    width: 300px; /* Adjust based on how large you want the images to display */
    height: 300px; /* Adjust based on how large you want the images to display */
    cursor: pointer;
    transition: transform 1s, opacity 1s;
  }
  
  .default {
    opacity: 1; /* Ensure the default opacity is 1 */
    transform: scale(1);
  }
  
  .winning {
    transform: scale(1.2);
    z-index: 1;
  }
  
  .losing {
    opacity: 0.5;
  }
  